<% include ../partials/header %>

<!-- fluid class + the internal container make the jumbotron full width, and without rounded corners -->

<header>
<div class="container">
   <div class="jumbotron text-center">
        <h1 class="display-3">Welcome to YelpCamp!</h1>
        <p class="lead"></p>
        <hr class="my-2">
        <p>View our hand-picked campgrounds from all over the world</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campground</a>
        </p>
    </div>
</div>
</header>


<div class="container">
    <div class="row text-center">
        <% campgrounds.forEach(camp => { %>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src=<%= camp.images[0] %> alt="">
                    <div class="card-body">
                        <h4 class="card-title"><%=  camp.name %></h4>

                        <a href="/campgrounds/<%= camp._id %>"  class = "btn btn-primary">More Info</a>

                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<% include ../partials/footer %>
