<% include ../partials/header %>

<div class="container">
    <div id="resetEmailSent" class="card">
        <div class="card-body">
        An email containing a link to change your password has been sent to you.
        </div>
        <div class="card-body">
        Please follow the link within the next 60 minutes to change your password.
        </div>
        <div class="card-body">
        Following the link will open up another page in your browser, so you can close this one if you want.
        </div>
    </div>
</div>

<% include ../partials/footer %>