<% include ../partials/header %>

<div class="container">

        <form id="loginForm" action="/login" method="POST">
            <div class="form-group">
                <label for="loginFormEmail">Email</label>
                <input type="email" class="form-control" id="loginFormEmail" name="email" aria-describedby="emailHelp" placeholder="joe@schmoe.com" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" data-toggle="password" title="" required>
                    <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-eye"></i>
                    </span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <div>
                <a href="/forgot">Forgot your password?</a>
            </div>
        </form>

</div>

<script src="/javascript/bootstrap-show-password.js"></script>
<script src="/javascript/checkCapsLock.js"></script>

<script>
    // event is triggerred when the initial HTML document has been completely loaded
    document.addEventListener('DOMContentLoaded', () => {
        $('#password').tooltip( {
            title: 'Caps Lock is on!',
            trigger: 'manual'
        });
        $('#campLocation').tooltip( {
            title: 'Please enter the address as accurately as you can. If the campground doesn\'t have an address, please use a google maps plus code.',
        });
    });

    document.getElementById("password").addEventListener( 'keydown', function( event ) {
        var caps = event.getModifierState && event.getModifierState( 'CapsLock' );
        if(caps) {
            $('#password').tooltip('show');
        } else {
            $('#password').tooltip('hide');
        }
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<% include ../partials/footer %>